<div class="modal-content">
    <div class="modal-header active-back">
        <p class="heading lead yellow-color">{{titleModal}}</p>
    </div>
    <div class="modal-body active-back">
        <div class="form-horizontal" style="text-align: center">
            <p class="yellow-color">{{textModal}}</p>
            <div class="form-group">
                <a class="btn btn-custom-yellow btn btn-custom-ellipse" href="{{href}}">{{textLink}}</a>
            </div>
        </div>
    </div>
</div>